.searchDiv{
    display: flex;
    background: #fff;
    border-radius: 3px;
}
.search{
    background: #fff;
    border:none;
    outline: none;
    width: 200px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 3px;
}
.searchButton{
    background: #fff;
    outline: none;
    border: none;
    height: 40px;
    
    border-radius: 3px;
}
.svgSearch{
   
    display: inline-block;
    fill: currentColor;
    
    line-height: 24px;
    position: relative;
   
    background: none;
    color: #4285f4;
    height: 24px;
    width: 24px;
    margin: auto;
    cursor: pointer;
}
.cartBadge{
    position: absolute;
    top: 22px;
    right: 10px;
}
.loginButton, .orderHistory{
    background: #ff9f00;
    width: 100px;
    border: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    font-weight: 500;
}
.orderHistory{text-align: center;}