<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<div class="container">
  <div class="row" style="margin-top: 10%;">
    <div class="offset-sm-4 col-sm-4 align-self-center card card-container bg-light"> <br />
      <h2 style="text-align: center;">Register here</h2>
      <form name="registerForm" #registerFormm="ngForm" [formGroup]="registerForm"
        (ngSubmit)="registerUser(registerForm.value)" novalidate>
        <div class="form-group">
          <label for="name">Name:</label><br>
          <input required formControlName="name" type="text" id="name" name="namr" class="form-control"><br>
          <div class="alert alert-danger" *ngIf="registerForm.controls['name'].invalid && registerForm.controls['name'].touched">Name is required</div>
        </div>
        <div class="form-group">
          <label for="email">Email:</label><br>
          <input required formControlName="email" type="text" id="email" name="email" class="form-control" [email]="true"><br>
          <div class="alert alert-danger" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched && registerForm.value.email == ''">Email is required</div>
          <div class="alert alert-danger" *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched && registerForm.value.email != ''">Email not valid.</div> 
        </div>
        <div class="form-group">
          <label for="password">Password:</label><br>
          <input required formControlName="password" type="password" id="password" name="password"
            class="form-control"><br>
          <div class="alert alert-danger" *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">Password is required</div>
          <input type="submit" [disabled]="registerForm.status == 'INVALID'" class="btn btn-info btn-block" value="Register"><br />
          <a [routerLink]="['/login']" routerLinkActive="active">Back to login</a> <br /><br />
        </div>
      </form>
    </div>
  </div>
</div>